<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include main.css
        include main-media.css
</head>


<body>
    #{admin}
    <div class="wrapper">
        
        <div class="student">
            <span class="close-student">&#10005;</span>
            <h3>Человек Человекович Человеков</h3>
            <div class="student-table">
                <img height="400px" width="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Aspect_ratio_-_4x3.svg/1280px-Aspect_ratio_-_4x3.svg.png">
                    
                </img>
                <table>
                    <tr>
                        <td>Номер карточки</td>
                        <td class="cardNum">1</td>
                    </tr>
                    <tr>
                        <td>Дата рождения</td>
                        <td class="birthDate">1</td>
                    </tr>
                    <tr>
                        <td>Приказ (общежитие)</td>
                        <td class="orderDorm">1</td>
                    </tr>
                    <tr>
                        <td>Приказ (зачисление)</td>
                        <td class="orderEnroll">1</td>
                    </tr>
                    <tr>
                        <td>Дата зачисления</td>
                        <td class="enrollDate">1</td>
                    </tr>
                    <tr>
                        <td>Место рождения</td>
                        <td class="birthPlace">1</td>
                    </tr>
                    <tr>
                        <td>Адрес проживания</td>
                        <td class="address">1</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="content">
            <div class="table">
                <table>
                    <tr>
                        <th>ФИО</th>
                        <th>Корпус</th>
                        <th>Этаж</th>
                        <th>Комната</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="module">
            h2 Фильтры
            <input class="fio" type="text" placeholder="Введите ФИО"></input>
            <select class="corp">
                <option value="" selected>Корпус</option>
                    each corp in corpList
                        <option value="#{corp['corpId']}">#{corp['name']}</option>
            </select>
            <select class="floor">
                <option value="" selected>Этаж</option>
            </select>
            <input class="number" type="text" placeholder="Номер комнаты"></input>
            <button class="search-btn">Поиск</button>
            <button class="switcher newStudent-btn">Заселить</button>
            if admin
                <button class="switcher adminPanel-btn">Админ панель</button>
        </div>
        <div class="module hidden newStudent">
                h2 Заселение
                <input class="fio" type="text" placeholder="Введите ФИО"></input>
                <select class="corp">
                    <option value="" selected>Корпус</option>
                        each corp in corpList
                            <option value="#{corp['corpId']}">#{corp['name']}</option>
                </select>
                <select class="floor">
                    <option value="" selected>Этаж</option>
                </select>
                <input class="number" type="text" placeholder="Номер комнаты"></input>
                <input class="birthDate" type="date" placeholder="Дата рождения"></input>
                <input class="orderDorm" type="text" placeholder="Приказ (общежитие)"></input>
                <input class="orderEnroll" type="text" placeholder="Приказ (зачисление)"></input>
                <input class="enrollDate" type="date" placeholder="Дата зачисления"></input>
                <input class="birthPlace" type="text" placeholder="Место рождения"></input>
                <input class="address" type="text" placeholder="Адрес проживания"></input>
                <button class="pushStudent">Заселить</button>
                <button class="back-btn">Назад</button>
        </div>
        if admin
            <div class="module hidden admin-panel">
                h2 Админ панель
                h5 Добавление корпуса
                <input class="corpName" type="text" placeholder="Название"></input>
                <input class="corpLocation" type="text" placeholder="Адрес"></input>
                <button class="addCorp">Добавить</button>
                h5 Удаление корпуса
                <select class="corp">
                    <option value="" selected>Корпус</option>
                        each corp in corpList
                            <option value="#{corp['corpId']}">#{corp['name']}</option>
                </select>
                <button class="delCorp">Удалить</button>
                h5 Добавление комнаты
                <input class="corpId" type="text" placeholder="ID корпуса"></input>
                <input class="floor" type="text" placeholder="Этаж"></input>
                <input class="number" type="text" placeholder="Комната"></input>
                <button class="addNumber">Добавить</button>
                h5 Удаление комнаты
                <input class="roomId" type="text" placeholder="ID комнаты"></input>
                <button class="delNumber">Удалить</button>
                <button class="back-btn">Назад</button>
            </div>
    </div>

</body>

script(type="module")
    include main.js

</html>